$font-family-serif: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

$primary: black;

$body-color: #000;
$border-radius: 0;
$card-bg: transparent;
$card-border-width: 0;
$btn-link-color: #f2e0da;
$btn-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
